
body{
    font-family: 'Roboto', sans-serif;
    /*
    background-image: url("/images/resizeunsplashocean.jpg");
    */
    background: rgb(245, 232, 197);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 20px solid rgb(39, 110, 128);
    border-radius: 10px;
    padding: 5%
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav {
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
}

a{
    background-color: none;
    color: rgb(18, 64, 82);
}

form {
    display: block;
    margin-top: 0em;
}

footer {
    display: flex;
    align-items: flex-start;
    /*
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
     */
}
