
body{
    font-family: "Arial";
    background-image: url("/src/images/resizeunsplashocean.jpg");
    /*change opacity???*/
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

a{
    background-color: none;
    color: rgb(13, 68, 90);
    
}

form {
    display: block;
    margin-top: 0em;
  }