body{
    font-family: "Arial";
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

a{
    background-color: rgb(228, 217, 178);
    color: rgb(30, 165, 255);
    
}
